

/** aqui estou centralizado todo o **/


body  {
    text-align: center;
    color: blue;
    min-width: 500px;
    justify-content: center;
    min-height: 500px;
}

h1 {
    text-align: center; 
    color: black;

}


img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

